/Users/pat@glucode.com/Documents/GitVault/ComparingApp/ComparingApp/Models/Resnet50.mlmodel filter=lfs diff=lfs merge=lfs -text
ComparingApp/Models/Resnet50.mlmodel filter=lfs diff=lfs merge=lfs -text
ComparingApp/Models/efficientnetv2s.mlmodel filter=lfs diff=lfs merge=lfs -text
