<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU2No-mV7wtGUECmymn3qglbH6Q-f9fgk</string>
	<key>GCM_SENDER_ID</key>
	<string>246129934912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glucode.re-image</string>
	<key>PROJECT_ID</key>
	<string>re-image-e8932</string>
	<key>STORAGE_BUCKET</key>
	<string>re-image-e8932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246129934912:ios:572e420053efb9808395a5</string>
</dict>
</plist>